<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoyifeng.IDaaS.infrastructure.dao.IUserAccountDao">

    <resultMap id="UserAccount" type="com.gaoyifeng.IDaaS.infrastructure.po.UserAccountPo">
        <id property="id" column="id"/>
        <result property="flakeSnowId" column="flake_snow_id"/>
        <result property="wxOpenId" column="wx_open_id"/>
        <result property="wxUserName" column="wx_user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="icon" column="icon"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="insertUserAccount">
        insert into user_account(flake_snow_id, wx_open_id, wx_user_name, nick_name, icon, phone, email,create_time, update_time)
        values(#{userAccount.flakeSnowId}, #{userAccount.wxOpenId}, #{userAccount.wxUserName}, #{userAccount.nickName}, #{userAccount.icon}, #{userAccount.phone}, #{userAccount.email}, #{userAccount.createTime}, #{userAccount.updateTime})
    </insert>


    <update id="updateUserAccount">
        update user_account
        set wx_open_id = #{userAccount.wxOpenId}, wx_user_name = #{userAccount.wxUserName}, nick_name = #{userAccount.nickName}, icon = #{userAccount.icon}, phone = #{userAccount.phone}, email = #{userAccount.email}, update_time = #{userAccount.updateTime}
        where id = #{userAccount.flakeSnowId
    </update>


    <select id="selectUserByEmail" resultMap="UserAccount">
        SELECT * FROM user_account WHERE email = #{account}
    </select>



    <select id="selectUserByPhone" resultMap="UserAccount">
        SELECT * FROM user_account WHERE phone = #{account}
    </select>
    <select id="selectUserByFlakeSnowId" resultMap="UserAccount">
        SELECT * FROM user_account WHERE flake_snow_id = #{flakeSnowId}
    </select>


</mapper>
