<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoyifeng.IDaaS.infrastructure.dao.IUserFreshTokenDao">

    <resultMap id="UserFreshToken" type="com.gaoyifeng.IDaaS.infrastructure.po.UserFreshTokenPo">
        <id property="id" column="id"/>
        <result property="userFlakeSnowId" column="user_flake_snow_id"/>
        <result property="freshToken" column="fresh_token"/>
        <result property="createTime" column="create_time"/>
        <result property="token" column="token"/>
    </resultMap>

    <insert id="save">
        insert into user_fresh_token (user_flake_snow_id, fresh_token,create_time,token)
        values(#{userFreshTokenPo.userFlakeSnowId}, #{userFreshTokenPo.freshToken}, #{userFreshTokenPo.createTime},#{userFreshTokenPo.token})
    </insert>


    <delete id="delete">
        delete from user_fresh_token where user_flake_snow_id = #{userFlakeSnowId}
    </delete>


    <select id="get" resultMap="UserFreshToken">
        select * from user_fresh_token where user_flake_snow_id = #{userFlakeSnowId}
    </select>

    <select id="getByToken" resultMap="UserFreshToken">
        select *
        from user_fresh_token
        where fresh_token = #{refreshToken}
    </select>

</mapper>
